.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url('./img/background.jpg');
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main {
  color: #6b4d49;
  margin-top: 8%;
  width: 100vw;
  font-family: 'Pacifico', cursive;
  font-size: 72px;
}

.upload {
  background-color: #4f3936;
  width: 15%;
  padding: 12px;
  border-radius: 14px;
  color: white;
  font-family: 'Architects Daughter', cursive;
  font-size: 19px;
  border: none;
}

.upload:hover {
  outline: none;
  box-shadow: 0 0 7px 3px #6fa29b;
  cursor: pointer;
}

.upload:focus,
.upload:active {
  outline: none;
}


.modal {
  position: fixed;
  top: 10%;
  left: 15%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  width: 1000px;
  height: 600px;
  display: none;
}

.show {
  display: block;
}